:root {
    --text-blueviolet: blueviolet;
    --text-white: white;
    --text-pink: rgba(232, 102, 236);
    --background-color: #333940

}

body {
    background-color: var(--background-color)
}

header {
    text-align: center;
}

header h1 {
    color: var(--text-pink);
}

header p {
    color: white;
}

.card h2 {
    color: var(--text-pink);
    border: solid white;
    width: 350px;
    margin-top: -20px;
    background-color: var(--background-color);
}

.card p {
    color: var(--text-pink);
}

.code-block {
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    width: 95%;
    height: 150px;
}

.card code {
    color: white;
    margin: 10px;
}

.card {
    flex: auto;
    justify-content: center;
    border: dashed white;
    margin: 10px;
    width: 400px;
    height: 275px;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}
