:root {
    --text-blueviolet: blueviolet;
    --text-white: white

}

header {
background-color:grey;

}

h1 {
color: blueviolet;
text-align: center;

}

header p {
    color: white;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: brown;
    margin: 10px;
    width: 400px;
    height: 300px;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    width:100%;
  }
