:root {
    --text-blueviolet: blueviolet;
    --text-white: white;
    --text-pink: rgba(232, 102, 236);

}

body {
    background-color: gray;
}

header {
    text-align: center;
}

header h1 {
    color: var(--text-pink);
}

header p {
    color: white;
}

.card h2 {
    color: var(--text-pink);
}

.card p {
    color: var(--text-pink);
}

.card code {
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    border: dashed white;
    margin: 10px;
    width: 400px;
    height: 300px;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.card code {
background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
)
}
